/*--------GLOBAL--------*/

.custom-button-style {
    border-radius: 20rem;
}

/*--------HEADER--------*/

.custom-border-nav {
    border-radius: 20rem;
}


/*--------CLOCK--------*/
#clockJavaScript{
    color: #171717;
    font-weight: bold;
    font-size: 12rem;
    text-shadow: -1px -1px 0 #000000;
}


/*--------MY-PROJECT--------*/

.custom-js-style {
    /* for js script */
}

.custom-action-card {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    z-index: 10;
}


/*--------TO-DO-LIST--------*/
.custom-close-style {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
    cursor: pointer;
}

.custom-close-style:hover {
    color: #f30404;
}

.custom-pointer-style {
    cursor: pointer;
}

.custom-checked-style {
    text-decoration: line-through;
}